<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center">
    <h1>Delivering by ship</h1>
    <a href="" th:href="@{/admin}" class="btn btn-primary">Go to ship page</a>
    <a href="" th:href="@{/order}" class="btn btn-info">Go to order page</a>
</div>
</body>
</html>